---
import Layout from "../layout/layout.astro"
import Taskbar from "../components/taskbar.tsx"
import Desktop from "../components/desktop.tsx"
import Mobile from "../components/mobile.tsx"
---

<Layout>
	<div class="max-lg:hidden">
		<Taskbar client:media="(min-width: 1024px)" >
		<div class="w-full relative h-[93%] flex overflow-hidden py-4 pl-4">
			<Desktop client:load/>
		</div>
	</Taskbar>
	</div>

	<div class="lg:hidden">
		<Mobile client:media="(max-width: 1024px)"/>
	</div>
</Layout>
