---
import Layout from "../layout/layout.astro"
import Taskbar from "../components/taskbar.tsx"
import Desktop from "../components/desktop.tsx"
---

<Layout>
	<Taskbar client:load >
		<div class="w-full relative h-[93%] flex overflow-hidden py-4 pl-4">
			<Desktop client:load/>
		</div>
	</Taskbar>

	
</Layout>
