---
import '../styles/global.css'
import  SpeedInsights  from "@vercel/speed-insights/astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="#11899c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Primary Meta Tags -->
    <title>Chidubem - Full Stack Developer</title>
    <meta name="title" content="Chidubem - Full Stack Web Developer">
    <meta name="description" content="Explore my portfolio, a full stack developer specializing in modern web technologies and innovative solutions.">
    <meta name="keywords" content="Chidubem, full stack developer, web development, portfolio, React, Supabase, JavaScript, TypeScript, PostgreSQL, front end developer,  RESTful APIs, responsive design, SEO optimization">
    <meta name="author" content="Chidubem">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://chidubem.name.ng">
    
    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://chidubem.name.ng">
    <meta property="og:title" content="Chidubem - Full Stack Web Developer">
    <meta property="og:description" content="Explore my portfolio, a full stack developer specializing in modern web technologies and innovative solutions.">
    <meta property="og:image" content="https://chidubem.name.ng/og-image.png">
    <meta property="og:site_name" content="Chidubem's Portfolio">
    <meta property="og:locale" content="en_US">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://chidubem.name.ng">
    <meta name="twitter:title" content="Chidubem - Full Stack Web Developer">
    <meta name="twitter:description" content="Explore my portfolio, a full stack developer specializing in modern web technologies and innovative solutions.">
    <meta name="twitter:image" content="https://chidubem.name.ng/og-image.png">
    <meta name="twitter:site" content="@heislaflame">
    <meta name="twitter:creator" content="@heislaflame">
    
    <!-- Additional SEO Tags -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Your App Name">
    
    <!-- Favicon Links -->
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="apple-touch-icon" href="/icon.png">
    
</head>
<body class="h-full overflow-hidden">

<slot />
<SpeedInsights/>
</body>
</html>